# Maven 
target/

# eclipse project file
.settings/
.classpath
.project
/docker-compose.yml
/.env
/.idea/
/application.properties
/CLAUDE.md
/.playwright-mcp
/distribucio_credentials.json
/distribucio-back/src/main/webapp/reactapp/
