<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
		version="4.0">
	<display-name>distribucio-api-externa</display-name>
	<login-config>
		<auth-method>KEYCLOAK</auth-method>
		<realm-name>Govern de les Illes Balears</realm-name>
	</login-config>
	<security-role>
		<role-name>DIS_SUPER</role-name>
	</security-role>
	<security-role>
		<role-name>DIS_ADMIN</role-name>
	</security-role>
	<security-role>
		<role-name>DIS_ADMIN_LECTURA</role-name>
	</security-role>
	<security-role>
		<role-name>DIS_REPORT</role-name>
	</security-role>
	<security-role>
		<role-name>DIS_BSTWS</role-name>
	</security-role>
	<security-role>
		<role-name>tothom</role-name>
	</security-role>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>All areas</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>DIS_SUPER</role-name>
			<role-name>DIS_ADMIN</role-name>
			<role-name>DIS_ADMIN_LECTURA</role-name>
			<role-name>DIS_REPORT</role-name>
			<role-name>DIS_BSTWS</role-name>
			<role-name>tothom</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Public areas</web-resource-name>
			<url-pattern>/</url-pattern>
			<url-pattern>/swagger-ui/*</url-pattern>
			<url-pattern>/apidocs</url-pattern>
			<url-pattern>/apidocs/*</url-pattern>
		</web-resource-collection>
	</security-constraint>
</web-app>
